<div class="clr-row clr-justify-content-center" >
  <div class="clr-col-lg-5 clr-col-11">
    <div class="card">
      <h3 class="card-header">Todo</h3>
      <div class="card-block">
        @if(executing) {
          <div class="progress top loop"></div>
        }
        <div class="card-title">
          <div class="clr-row clr-align-items-stretch">
            <div class="clr-col">
              <input [disabled]="executing" style="width:100%;" class="clr-input" [(ngModel)]="task" placeholder="task name" #todoTask="ngModel" required/>
            </div>
            <div class="clr-col-auto">
              <button (click)="addTodo()" [disabled]="!!todoTask.invalid || executing" class="btn btn-primary btn-icon btn-sm" style="padding: 0px 4px; ">
                @if(executing) {
                  <span class="spinner spinner-inline"></span>
                } @else {
                  <cds-icon shape="plus"></cds-icon>
                }
              </button>
            </div>
          </div>
        </div>
        <table class="table table-noborder" >
          <thead>
            <tr>
              <th>TASK</th>
              <th>COMPLETED</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for(todo of todos; track todo?.id) {
              <tr>
                <td class="clr-align-middle">{{todo.task}}</td>
                <td class="clr-align-middle">
                  <input type="checkbox" clr-checkbox-wrapper [(ngModel)]="todo.completed" (change)="updateTodo($event, todo)"  style="margin-top:3px"/></td>
                <td style="width:50px">
                  <button type="button" class="btn btn-icon btn-danger btn-sm" aria-label="error" style="padding: 0px 4px;">
                    <cds-icon shape="trash" (click)="deleteTodo($event, todo?.id)" ></cds-icon>
                  </button></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="submit()">Submit</button>
        <button class="btn btn-sm btn-link" (click)="done()">Done</button>
      </div>
    </div>
  </div>
</div>
